//====================
//	colours
//====================

//	colour pallete
//====================
//need to be bright colour
$primary: 				#ffb81c;
$secondary: 			#7ba7bc;
$secondary-light: 		#d7e4eb;
$tertiary:				#008578;
$grey: 					#f5f5f5;
$grey-light: 			#959595;
$grey-highlight: 		#fffcf6;
$black: 				#000;

// named colours
//====================
$text-color: $black;
$header-color: $black;
$body-background-color: #fff;
