.l-container{
	max-width: $max-width;
	width: 100%;
	margin: 0 auto;
}

.l-pinch{
	@media (min-width: $md){
		$pinchWidth: unit(100 / $columns * 10, %);

		width: calc(#{$pinchWidth} - #{$full-gutter});
		margin: 0 auto;
	}
}

.l-content-row{
	margin-bottom: 60px;

	@media (min-width: $md){
		margin-bottom: 100px;
	}
}

.l-inner-content-row{
	margin-top: 30px;

	&--large{
		padding-top: 30px;

		@media (min-width: $md){
			padding-top: 100px;
		}
	}
}

.l-full{
	padding-left: $gutter;
	padding-right: $gutter;
}

.l-thin{
	padding-left: $gutter;
	padding-right: $gutter;
	width: 100%;

	@media (min-width: $md){
		width: unit(100 / $columns * 7, %);
	}
}

.l-no-grow{
	> *{
		flex-grow: 0 !important;
	}
}

.l-no-gutter{
	> *{
		margin: 0 !important;
	}
}

.l-center{
	display: flex;
	justify-content: center;
}

.l-vertical-center{
	display: flex;
	align-items: center;
}

.l-halves{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	@media (min-width: $sm){
		flex-wrap: nowrap;
	}

	> *{
		flex: 1 1 100%;
		flex-basis: calc(100% - #{$full-gutter});
		margin-left: $gutter;
		margin-right: $gutter;

		@media (min-width: $sm){
			flex: 1 1 50%;
			flex-basis: calc(50% - #{$full-gutter});
		}
	}
}

.l-two-thirds{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	> *{
		flex-basis: calc(100% - #{$full-gutter});
		margin-left: $gutter;
		margin-right: $gutter;

		@media (min-width: $md){
			&:first-child{
				flex: 1 1 66.666%;
				flex-basis: calc(66.666% - #{$full-gutter});
			}

			&:last-child:not(:first-child){
				flex: 1 1 33.333%;
				flex-basis: calc(33.333% - #{$full-gutter});
			}
		}
	}
}

.l-third-two-thirds{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	> *{
		flex-basis: calc(100% - #{$full-gutter});
		margin-left: $gutter;
		margin-right: $gutter;

		@media (min-width: $sm){
			flex: 1 1 50%;
			flex-basis: calc(50% - #{$full-gutter});
		}

		@media (min-width: $md){
			&:first-child{
				flex: 1 1 33.333%;
				flex-basis: calc(33.333% - #{$full-gutter});
			}

			&:last-child:not(:first-child){
				flex: 1 1 66.666%;
				flex-basis: calc(66.666% - #{$full-gutter});
			}
		}
	}
}

.l-three-quarters{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	> *{
		flex-basis: calc(100% - #{$full-gutter});
		margin-left: $gutter;
		margin-right: $gutter;

		@media (min-width: $sm){
			flex: 1 1 50%;
			flex-basis: calc(50% - #{$full-gutter});
		}

		@media (min-width: $md){
			&:first-child{
				flex: 1 1 75%;
				flex-basis: calc(75% - #{$full-gutter});
			}

			&:last-child:not(:first-child){
				flex: 1 1 25%;
				flex-basis: calc(25% - #{$full-gutter});
			}
		}
	}
}

.l-quarters{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	> *{
		flex-basis: calc(100% - #{$full-gutter});
		margin-left: $gutter;
		margin-right: $gutter;

		@media (min-width: $sm){
			flex: 1 1 50%;
			flex-basis: calc(50% - #{$full-gutter});
		}

		@media (min-width: $md){
			flex: 1 1 25%;
			flex-basis: calc(25% - #{$full-gutter});
		}
	}
}

.l-thirds{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	> *{
		flex-basis: calc(100% - #{$full-gutter});
		margin-left: $gutter;
		margin-right: $gutter;

		@media (min-width: $sm){
			flex: 1 1 33.333%;
			flex-basis: calc(33.333% - #{$full-gutter});
		}
	}
}
