.svg-list{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	> *{
		flex: 1 1 15%;
	}
}

.svg-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 25px;

	*{
		pointer-events: none;
	}

	cursor: pointer;

	&--fill{
		fill: #666;
	}

	&--stroke{
		stroke: #666;
	}
}
