.radio,
.checkbox{
	padding-bottom: 0.625em;

	& + &{
		margin-left: space(3);
	}

	> label{
		display: flex;
		align-items: center;
		cursor: pointer;
		white-space: nowrap;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		margin-bottom: 0;

		*{
			pointer-events: none;
		}
	}

	input{
		width: 0.1px;
		height: 0.1px;
		position: absolute;
		opacity: 0;
		overflow: hidden;
		z-index: -1;
	}

	input{
		+ label{
			position: relative;
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			border-radius: 50%;
			border: $border-size solid $input-border;
			margin-bottom: 0;
			margin-right: 0.5em;
			max-width: none;
		}
	}
}

.radio{
	input{
		+ label{
			&:after{
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 0.5em;
				height: 0.5em;
				background-color: transparent;
				border-radius: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&:checked + label{
			&:after{
				background: $text-color;
			}
		}
	}
}

.checkbox{
	input{
		+ label{
			border-radius: $input-border-radius;
			background-color: transparent;

			svg{
				opacity: 0;
				width: 1em;
				height: 1em;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				fill: $black;
			}
		}

		&:checked + label{
			svg{
				opacity: 1;
			}
		}
	}
}
