$blockquote-border-color: $tertiary;

blockquote,
q{
	quotes: none;
	font-style: italic;

	&:before,
	&:after{
		content: none;
	}
}

blockquote{
	line-height: line-height-scale();
	padding: 10px 15px;
	border-left: 4px solid $blockquote-border-color;
	margin-bottom: $type-margin-bottom;

	p,
	ul,
	ol{
		&:last-child{
			margin-bottom: 0;
		}
	}
}
