// colours
//===============
.bg-primary{
	background-color: $primary;
}

.bg-secondary{
	background-color: $secondary;
}

.bg-tertiary{
	background-color: $tertiary;
}

.bg-white{
	background-color: #fff;
}

.bg-black{
	background-color: $black;
}
