// colours
//===============
.primary{
	color: $primary !important;
}

.secondary{
	color: $secondary !important;
}

.tertiary{
	color: $tertiary !important;
}

.white{
	color: #fff !important;
}

.black{
	color: $black !important;
}

.grey{
	color: $grey-light !important;
}
