<div class="colours">
  <div class="primary"></div>
  <div class="secondary"></div>
  <div class="secondary-light"></div>
  <div class="secondary-highlight"></div>
  <div class="tertiary"></div>
</div>