&__radio-btn-list{
	display: flex;
	flex-wrap: wrap;

	> *{
		margin-left: $gutter;
		margin-right: $gutter;
	}
}

.radio-btn{
	> label{
		cursor: pointer;
		margin-bottom: 0;

		*{
			pointer-events: none;
		}
	}

	input{
		width: 0.1px;
		height: 0.1px;
		position: absolute;
		opacity: 0;
		overflow: hidden;
		z-index: -1;
	}

	input{
		& + label{
			display: inline-block;
			font-size: 1.2rem;
			width: 165px;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-bottom: 30px;
		}

		&:checked + label{
			border-color: $tertiary;
			background-color: $tertiary;
			color: #fff;
		}
	}
}
