// imports
// ===================
@import "node_modules/mathsass/dist/_math";

// settings
//====================
@import "00-settings/colours";
@import "00-settings/scales";
@import "00-settings/type";
@import "00-settings/spacing";
@import "00-settings/easings";
@import "00-settings/timings";
@import "00-settings/breakpoints";
@import "00-settings/grid";
@import "00-settings/zindex";

$font-family-unloaded: $font-family;
$header-font-family-unloaded: $header-font-family;
$typegraphyClass: 'body';

// tools
//====================
@import "01-tools/functions";
@import "01-tools/mixins";
@import "01-tools/family";
@import "01-tools/type";
@import "01-tools/spaces";
@import "01-tools/css-lock";

// generic
//====================
@import "02-generic/font-faces";
@import "02-generic/font-loading";
@import "02-generic/type";
@import "02-generic/keyframes";

// elements
//====================
@import "03-elements/html";
@import "03-elements/body";
@import "03-elements/buttons";
@import "03-elements/lists";
@import "03-elements/img";
@import "03-elements/address";
@import "03-elements/hr";
@import "03-elements/links";
@import "03-elements/quotes";
@import "03-elements/table";

// objects
//====================
@import "04-objects/button";

// components
//====================

// typography
//====================
@import "typography/body";
