<br><br>
<button class="o-btn">Button</button>
<br><br>
<a href="#" class="o-btn">a button</a>
<br><br>
<div class="o-btn">div button</div>
<br><br>
<div style="padding: 40px; background-color: #009fdf">
	<button class="o-btn o-btn--white">Button</button>
	<br><br>
	<button class="o-btn o-btn--white-ghost">Button</button>
</div>
<div style="padding: 40px; background-color: #666;">
	<button class="o-btn o-btn--ghost-blue">button</button>
</div>
